input{
    width: 100%;
    border: 1px solid #ffffff;
}

.row{
    border-bottom: 1px solid rgb(149, 147, 147);
    width: 100%;
}

.main{
    padding: 2rem;
}

.editor{
    height: 70vh;
    margin-top: 1vh;
}